body {
  height: 100vh;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background-color: yellow;
  border: 0px dotted red;
  animation-name: susiapvalinti;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes susiapvalinti {
  0% {
    border-radius: 0;
    background-color: yellow;
    border-width: 0;
    height: 100px;
    width: 100px;
  }
  50% {
    height: 200px;
    width: 200px;
  }
  100% {
    border-radius: 50%;
    background-color: blue;
    border-width: 10px;
    height: 100px;
    width: 100px;
  }
}
